<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerPort" value="8889"/>
    <add key="ComPort" value="COM1"/>
    <add key="Debug" value="false"/>

    
    <!-- 
      Aspect ratio each lens memory is intended to be used by.
      Can be entered as:
        1.78:1
        16x9
        1.78
    -->
    <add key="LensMemory1" value="1.78:1"/>
    <add key="LensMemory2" value="0"/>
    <add key="LensMemory3" value="0"/>
    <add key="LensMemory4" value="0"/>
    <add key="LensMemory5" value="0"/>
    <add key="LensMemory6" value="0"/>
  </appSettings>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
</configuration>